# Project exclude paths
/Mybatis_demo01/target/
/MyBatis_demo02/target/
/MyBatis_demo03/target/
/MyBatis_demo04/target/
/MyBatis_demo05/target/
/MyBatis_demo06/target/
/MyBatis_demo07/target/
/MyBatis_demo08/target/
/MyBatis_demo09/target/