<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <!--导入db.properties配置文件-->
    <properties resource="db.properties"></properties>

    <!--起别名-->
    <typeAliases>
        <!--给实体类起别名-->
        <!--<typeAlias type="com.it.bean.User" alias="User1"></typeAlias>-->
        <!--把这个包里面的所有类都起了别名，别名为类名的首字母小写，大写也可以-->
        <package name="com.it.bean"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
        <!--<environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis2?useSSL=true&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="root"/>
                <property name="password" value="fangzu"/>
            </dataSource>
        </environment>-->
    </environments>

    <!--每一个Mapper.xml都需要在这个配置文件中注册-->

    <mappers>
        <!--根据类路径，当和接口在一块时要写成com/it/dao/UserMapper.xml，就在resource下面就直接写-->
        <mapper resource="com/it/dao/UserMapper.xml"/>
        <!--根据包，这个包下面的所有接口都映射到，要求是配置文件要和接口名相同
        且位于同一目录下，因此要么和接口放一块，要么在resource下面创相同的文件夹再放置进去-->
        <!--<package name="com.it.dao"></package>-->
        <!--总结：接口很多用包，接口不多一个一个写，毕竟这个不用同名，不用在同一路径-->
    </mappers>


</configuration>